<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   
    <main>
        <% if (validationResult && validationResult.length && validationResult[0].msg) { %>
            <div class="user-message user-message--error"><%= validationResult[0].msg %></div>
        <% } %>

            <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || (validationResult && validationResult.length)) { %><%= product.title%><% } %>"
                    class="<%= validationResult.find( it => it.path === 'title') ? 'invalid' : '' %>">
            </div>

            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || (validationResult && validationResult.length)) { %><%= product.imageUrl%><% } %>"
                    class="<%= validationResult.find( it => it.path === 'imageUrl') ? 'invalid' : '' %>">
            </div> -->

            <div class="form-control">
                <label for="price">Price</label>
                <input
                    type="nmber" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || (validationResult && validationResult.length)) { %><%= product.price%><% } %>"
                    class="<%= validationResult.find( it => it.path === 'price') ? 'invalid' : '' %>">
            </div>

            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5" class="<%= validationResult.find( it => it.path === 'description') ? 'invalid' : '' %>"><% if (editing || (validationResult && validationResult.length)) { %><%= product.description%><% } %></textarea>
            </div>

            <div class="form-control">
                <label for="image">Image</label>
                <input
                    type="file" 
                    name="image" 
                    id="image" 
                >
            </div>

            <% if (editing) { %> 
                <input type="hidden" value="<%= product._id.toString() %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <button class="btn" type="submit"><% if (editing) { %>Update Product <% } else { %> Add Product <% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>