<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <main>
            <% if (orders && orders.length > 0) { %>
                <ul class="cart__item-list">
                    <% orders.forEach(order => { %>
                        <li class="cart__item">
                            <h1># <%= order._id.toString() %></h1>
                            <p><strong>Shipping to:</strong> <%= order.user.username %> (<%= order.user.email %>)</p>
                            <ul>
                                <% order.products.forEach(item => { %> %>
                                    <li>
                                        <%= item.product.title %> (<%= item.quantity %>) - <%= item.product.price %>
                                    </li>
                                <% }) %>
                            </ul>
                            <a href="/orders/<%= order._id.toString() %>">Invoice</a>
                            <p><strong>Total:</strong> <%= order.total %>$</p>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>Nothing there!</h1>
            <% } %>
        </main>
    </main>

    <%- include('../includes/end.ejs') %>